/* https://piccalil.li/blog/a-more-modern-css-reset/ 

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


/* MAYBE!!!! 8/


.code {
  font-family: 'Spline Sans Mono', monospace;
}

h1{
  font-family: "Slackside One", cursive, sans-serif;
  color: hsl(11, 86%, 75%);
  font-size: 200%
}

p {
  font-size: clamp(1.321875rem, 1.11rem + 1.02vw, 1.875rem);
}

.decoration-top {
  background: linear-gradient(to bottom #847d89 0 5%, 
      #b2c6d6 5% 10%,
      #fffcdc 15% 25%,
      #847d89 25% 30%,
      #DBD4B4 30% 35%,
      #847d89 35% 40%,
      #CC95C0 40% 55%,
      #847d89 55%, 60%,
      #d9a7c7 60% 80%,
      #847d89 80% 10%);
  display: block;
  min-height: 200px;
}