<section>
  <img src="/box-pattern.png" width="100" height="100" />
  <h1>Timothy Eaton</h1>

  || Links
</section>

<style>
  section {
    background-image: url("/swirl-background.jpg");
  }
  img {
    border-right: 6px solid var(--(rusty));

    clip: rect(0, 0, 100px, 100px);
  }
  h1 {
    font-family: "", decorative;
    display: inline;
  }
</style>
