<p>
  In this next example, I create the same layout using Grid. This time we have
  three 1fr column tracks. We do not need to set anything on the items
  themselves; they will lay themselves out one into each cell of the created
  grid. As you can see they stay in a strict grid, lining up in rows and
  columns. With five items, we get a gap on the end of row two.
</p>
