<p>
  By default, the auto-placement algorithm looks linearly through the grid
  without backtracking; if it has to skip some empty spaces to place a larger
  item, it will not return to fill those spaces. To change this behavior,
  specify the dense keyword in grid-auto-flow.
</p>
