---
import type { CollectionEntry } from "astro:content";
import PhotonMeta from "../components/Meta.astro";
import Header from "../components/Header.astro";
import IndexColumnOne from "../components/IndexColumnOne.astro";
import IndexColumnTwo from "../components/IndexColumnTwo.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import "../styles/global.css";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <PhotonMeta />
  </head>

  <body>
    <wrapper>
      <Header />
      <main>
        <slot />
        <section>
          <div class="column-right">
            <IndexColumnOne />
          </div>
          <div class="column-two">
            <IndexColumnTwo />
          </div>
        </section>
        <Footer />
      </main>
    </wrapper>
    <style>
      section {
        display: grid;
      }
    </style>
  </body>
</html>
